/* ---------- VARIABLES ---------- */
$white: rgba(255, 255, 255, 1);
$white_transparent: rgba(255, 255, 255, 0.5);
$grey_transparent: rgba(49, 49, 49, 0.5);
$green_transparent: rgba(39, 174, 96, 0.8);
$green: rgba(39, 174, 96, 1);
$orange_transparent: rgba(230, 126, 34, 0.8);
$orange: rgba(230, 126, 34, 1);
$blue_transparent: rgba(52, 152, 219, 0.8);
$blue: rgba(52, 152, 219, 1);

/* ---------- MIXINS ---------- */
@mixin BorderBox() {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin scaleThis($x) {
  transform: scale($x);
  -o-transform: scale($x);
  -ms-transform: scale($x);
  -moz-transform: scale($x);
  -webkit-transform: scale($x);
}

@mixin addTransition($x) {
  transition: all $x ease;
  -o-transition: all $x ease;
  -ms-transition: all $x ease;
  -moz-transition: all $x ease;
  -webkit-transition: all $x ease;
}

/* ---------- INCLUDES ---------- */
@import url("http://fonts.googleapis.com/css?family=Ubuntu:300,400,700|Roboto:400,100,300,700");

/* ---------- RESET ---------- */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  min-height: 100%;
}

/* ---------- MISC ---------- */
body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: $white;
  &.blue {
    background-image: url('/img/bg.jpg');
    .overlay {
      background: $blue_transparent;
    }
    .avatar {
      border: 4px solid $blue;
    }
  }
  &.green {
    background-image: url('/img/bg.jpg');
    .overlay {
      background: $green_transparent;
    }
    .avatar {
      border: 4px solid $green;
    }
  }
  &.orange {
    background-image: url('/img/bg.jpg');
    .overlay {
      background: $orange_transparent;
    }
    .avatar {
      border: 4px solid $orange;
    }
  }
}

a {
  color: $white;
  text-decoration: none;
}

.overlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  z-index: 20;
  position: relative;
  padding: 6.667em 0 2em 6.667em;
}

/* ---------- NAVBAR + HEADER ----------*/
header {
  .avatar {
    height: 150px;
    width: 150px;
    background-image: url('/img/avatar.jpg');
    border-radius: 100%;
    display: block;
    float: left;
    margin-right: 2em;
    @include addTransition(0.3);
    &:hover {
      @include scaleThis(0.8);
    }
  }
  .phrases {
    overflow: hidden;
    float: left;
    height: 150px;
    width: 25em;
    @include BorderBox();
    position: relative;
    h1 {
      padding: 26px 0px;
      font-weight: 300;
      font-size: 40px;
      position: absolute;
      top: 0;
      left: 0;
      a {
        font-weight: 700;
      }
    }
  }
  nav {
    @include BorderBox();
    height: 150px;
    padding: 26px 0;
    width: auto;
    float: left;
    a {
      font-size: 20px;
    }
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

/* ---------- CONTENT ---------- */
.content {
  margin: 2em 0 0 12.333em;
  max-width: 40em;
  width: 100%;
  .info {
    font-size: 24px;
    font-weight: 300;
  }
  .articles {
    margin-top: 2em;
    article {
      display: block;
      font-size: 20px;
      margin-bottom: 0.5em;
      .article_date {
        float: left;
        font-weight: 100;
        line-height: 36px;
      }
      .article_title {
        float: left;
        background: $grey_transparent;
        padding: 5px 10px;
        border-radius: 3px;
        margin: 0 1em;
      }
      .article_category {
        line-height: 36px;
        float: left;
        font-weight: 100;
      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
}