/* ---------- VARIABLES ---------- */
$white: #ffffff;
$green_transparent: rgba(39, 174, 96, 0.8);
$green: rgba(39, 174, 96, 1);
$orange_transparent: rgba(230, 126, 34, 0.8);
$orange: rgba(230, 126, 34, 1);

/* ---------- MIXINS ---------- */
@mixin BorderBox {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* ---------- INCLUDES ---------- */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700|Roboto:400,300,700);

/* ---------- RESET ---------- */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  min-height: 100%;
}

/* ---------- MISC ---------- */
body {
  /*background-image: url('http://sphotos-a.ak.fbcdn.net/hphotos-ak-ash4/1008855_659620994050652_1704849053_o.jpg');*/
  background-image: url('/img/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  color: $white;
  &.blue .overlay {
    background: rgba(64,165,198,0.9);
  }
  &.green .overlay {
    background: $green_transparent;
  }
  &.orange .overlay {
    background: $orange_transparent;
  }
}

a {
  color: $white;
  text-decoration: none;
}

.overlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  z-index: 20;
  position: relative;
  padding: 6.667em 0 2em 6.667em;
}

header {
  .avatar {
    height: 150px;
    width: 150px;
    background-image: url('/img/avatar.jpg');
    border: 4px solid $orange;
    border-radius: 100%;
    display: block;
    float: left;
    margin-right: 2em;
  }
  h1 {
    display: block;
    float: left;
    font-weight: 300;
    font-size: 40px;
    height: 150px;
    padding: 26px 0px;
    @include BorderBox();
    a {
      font-weight: 700;
    }
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.content {
  margin: 2em 0 0 12.333em;
  max-width: 40em;
  width: 100%;
  .info {
    font-size: 24px;
    font-weight: 300;
  }
}