@import url("http://fonts.googleapis.com/css?family=Ubuntu:300,400,700|Roboto:400,100,300,700");
/* ---------- VARIABLES ---------- */
/* ---------- MIXINS ---------- */
/* ---------- INCLUDES ---------- */
/* ---------- RESET ---------- */
* {
  margin: 0;
  padding: 0;
  border: 0; }

html, body {
  min-height: 100%; }

/* ---------- MISC ---------- */
body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: white; }
  body.blue {
    background-image: url("/img/bg.jpg"); }
    body.blue .overlay {
      background: rgba(52, 152, 219, 0.8); }
    body.blue .avatar {
      border: 4px solid #3498db; }
  body.green {
    background-image: url("/img/bg.jpg"); }
    body.green .overlay {
      background: rgba(39, 174, 96, 0.8); }
    body.green .avatar {
      border: 4px solid #27ae60; }
  body.orange {
    background-image: url("/img/bg.jpg"); }
    body.orange .overlay {
      background: rgba(230, 126, 34, 0.8); }
    body.orange .avatar {
      border: 4px solid #e67e22; }

a {
  color: white;
  text-decoration: none; }

.overlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.wrapper {
  z-index: 20;
  position: relative;
  padding: 6.667em 0 2em 6.667em; }

/* ---------- NAVBAR + HEADER ----------*/
header .avatar {
  height: 150px;
  width: 150px;
  background-image: url("/img/avatar.jpg");
  border-radius: 100%;
  display: block;
  float: left;
  margin-right: 2em;
  transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
  -ms-transition: all 0.3 ease;
  -moz-transition: all 0.3 ease;
  -webkit-transition: all 0.3 ease; }
  header .avatar:hover {
    transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8); }
header .phrases {
  overflow: hidden;
  float: left;
  height: 150px;
  width: 25em;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative; }
  header .phrases h1 {
    padding: 26px 0px;
    font-weight: 300;
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0; }
    header .phrases h1 a {
      font-weight: 700; }
header nav {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 150px;
  padding: 26px 0;
  width: auto;
  float: left; }
  header nav a {
    font-size: 20px; }
header:after {
  content: "";
  display: block;
  clear: both; }

/* ---------- CONTENT ---------- */
.content {
  margin: 2em 0 0 12.333em;
  max-width: 40em;
  width: 100%; }
  .content .info {
    font-size: 24px;
    font-weight: 300; }
  .content .articles {
    margin-top: 2em; }
    .content .articles article {
      display: block;
      font-size: 20px;
      margin-bottom: 0.5em; }
      .content .articles article .article_date {
        float: left;
        font-weight: 100;
        line-height: 36px; }
      .content .articles article .article_title {
        float: left;
        background: rgba(49, 49, 49, 0.5);
        padding: 5px 10px;
        border-radius: 3px;
        margin: 0 1em; }
      .content .articles article .article_category {
        line-height: 36px;
        float: left;
        font-weight: 100; }
      .content .articles article:after {
        content: "";
        display: block;
        clear: both; }
