---
layout: about
title: About @ MyXoToD.de
---

<div class="info">
  Well, this is Max. I'm a 20 year old web-developer based in Mayence, Germany. I'm very interested in technology (especially web-technology) and speedcubing. During the recent years I made a couple of own web projects and participated on a lot of speedcubing competitions all over the world.
</div>
<section class="articles">
  {% for post in site.categories.about %}
    <article class="article">
      <div class="article_date">{{ post.date | date: "%b %d" }}</div>
      <a href="{{ post.url }}" class="article_title">{{ post.title }}</a>
      {% if post.category %}
        <div class="article_category">{{ post.category }}</div>
      {% endif %}
    </article>
  {% endfor %}
</section>