/* ---------- VARIABLES ---------- */
$white_transparent: rgba(255, 255, 255, 0.3);
$white: rgba(255, 255, 255, 1);
$grey_transparent: rgba(49, 49, 49, 0.5);
$grey: rgba(49, 49, 49, 1);
$green_transparent: rgba(46, 204, 113, 0.9);
$green: rgba(46, 204, 113, 1);
$red_transparent: rgba(231, 76, 60, 0.9);
$red: rgba(231, 76, 60, 1);
$blue_transparent: rgba(52, 152, 219, 0.9);
$blue: rgba(52, 152, 219, 1);

/* ---------- MIXINS ---------- */
@mixin BorderBox() {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin scaleThis($x) {
  transform: scale($x);
  -o-transform: scale($x);
  -ms-transform: scale($x);
  -moz-transform: scale($x);
  -webkit-transform: scale($x);
}

@mixin addTransition($x) {
  transition: all $x+s ease;
  -o-transition: all $x+s ease;
  -ms-transition: all $x+s ease;
  -moz-transition: all $x+s ease;
  -webkit-transition: all $x+s ease;
}

@mixin clearfix() {
  content: "";
  display: block;
  clear: both;
}

/* ---------- INCLUDES ---------- */
@import url("http://fonts.googleapis.com/css?family=Ubuntu:300,400,700|Roboto:400,100,300,700");

/* ---------- RESET ---------- */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  min-height: 100%;
}

/* ---------- MISC ---------- */
body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: $white;
  &.blue {
    background-image: url('../img/bg_labs.png');
    .overlay {
      background: $blue_transparent;
    }
    .avatar {
      border: 4px solid darken($blue, 20%);
    }
    nav {
      a {
        background-color: $blue;
      }
    }
    .content {
      .articles {
        article {
          .article_title, .article_date, .article_category {
            background-color: $blue;
          }
          &:hover {
            .article_title, .article_date, .article_category {
              background-color: $grey;
            }
          }
        }
      }
    }
  }
  &.green {
    background-image: url('../img/bg.jpg');
    .overlay {
      background: $green_transparent;
    }
    .avatar {
      border: 4px solid darken($green, 20%);
    }
    nav {
      a {
        background-color: $green;
      }
    }
    .content {
      .articles {
        article {
          .article_title, .article_date, .article_category {
            background-color: $green;
          }
          &:hover {
            .article_title, .article_date, .article_category {
              background-color: $grey;
            }
          }
        }
      }
    }
  }
  &.red {
    background-image: url('../img/bg.jpg');
    .overlay {
      background: $red_transparent;
    }
    .avatar {
      border: 4px solid darken($red, 20%);
    }
    nav {
      a {
        background-color: $red;
      }
    }
    .content {
      .articles {
        article {
          .article_title, .article_date, .article_category {
            background-color: $red;
          }
          &:hover {
            margin-left: 3px;
            .article_title, .article_date, .article_category {
              background-color: $grey;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

a {
  color: $white;
  text-decoration: none;
  @include addTransition(0.3);
}

.overlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  z-index: 20;
  position: relative;
  padding: 6.667em 0 2em 6.667em;
}

/* ---------- NAVBAR + HEADER ----------*/
header {
  .avatar {
    height: 10em;
    width: 10em;
    background-image: url('../img/avatar.jpg');
    border-radius: 100%;
    display: block;
    float: left;
    margin-right: 2em;
    &:hover {
      @include scaleThis(0.95);
      border: 4px solid $grey;
    }
  }
  .phrases {
    overflow: hidden;
    float: left;
    height: 10em;
    width: 25em;
    @include BorderBox();
    position: relative;
    h1 {
      padding: 0.650em 0;
      font-weight: 300;
      font-size: 2.667em;
      position: absolute;
      top: 0;
      left: 0;
      a {
        font-weight: 700;
      }
    }
  }
  nav {
    @include BorderBox();
    height: 10em;
    padding: 3.667em 0;
    width: auto;
    float: left;
    a {
      font-size: 1.333em;
      line-height: 1em;
      display: block;
      float: left;
      padding: 0.5em 1em;
      margin-right: 0.5em;
      box-shadow: 1px 1px 0px $white, 2px 2px 0px $white, 3px 3px 0px $white;
      &:hover {
        background-color: $grey;
        box-shadow: none;
        margin-top: 3px;
      }
    }
    &:after {
      @include clearfix();
    }
  }
  &:after {
    @include clearfix();
  }
}

/* ---------- CONTENT ---------- */
.content {
  margin: 2em 0 0 12.333em;
  max-width: 40em;
  width: 100%;
  .info {
    font-size: 1.600em;
    font-weight: 300;
  }
  .articles {
    margin-top: 2em;
    article {
      display: inline-block;
      font-size: 1.333em;
      margin-bottom: 0.5em;
      @include addTransition(0.3);
      .article_date {
        @include addTransition(0.3);
        float: left;
        font-weight: 100;
        padding: 0.250em 0.5em;
        box-shadow: 1px 1px 0px $white, 2px 2px 0px $white, 3px 3px 0px $white;
      }
      .article_title {
        @include addTransition(0.3);
        float: left;
        padding: 0.250em 0.5em;
        margin: 0 0.5em;
        box-shadow: 1px 1px 0px $white, 2px 2px 0px $white, 3px 3px 0px $white;
      }
      .article_category {
        @include addTransition(0.3);
        padding: 0.250em 0.5em;
        float: left;
        font-weight: 100;
        box-shadow: 1px 1px 0px $white, 2px 2px 0px $white, 3px 3px 0px $white;
      }
      &:after {
        @include clearfix();
      }
    }
  }
}

/* ---------- FOOTER ---------- */
.color_plate {
  position: fixed;
  bottom: 2em;
  right: 2em;
  div {
    float: left;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    margin-left: 0.5em;
    &.red {
      background-color: $red;
    }
    &.green {
      background-color: $green;
    }
    &.blue {
      background-color: $blue;
    }
  }
  &:after {
    @include clearfix();
  }
}