{% include header.inc.html %}
  <body class="orange">
    <div class="overlay"></div>
    <div class="wrapper">
      <header>
        <div class="avatar"></div>
        <h1>I push to master<br />on <a href="#">Github</a>.</h1>
      </header>
      <section class="content">
        <div class="info">
          Howdy, my name is Max, I am a 20 year old web developer, work and based in Mayence, Germany. I'm interested in crafting awesome web-apps and speedcubing.
        </div>
      </section>
    </div>
  </body>
{% include footer.inc.html %}